/* GLOBAL STYLES */

:root {
  --text-color: #6b6a6a;
  --titles-color: #474445;
  --links-color: #557a44;
  --links-hover-color: #afc989;
}

body {
  font-family: "Baskervville", serif;
  letter-spacing: 1px;
  text-align: center;
}

h1 {
  color: var(--titles-color);
  font-size: 25px;
  letter-spacing: 6px;
}

h2 {
  margin-top: 20px;
}

tr {
  color: var(--text-color);
  font-size: 8px;
}

th {
  color: var(--titles-color);
}

em {
  color: var(--links-color);
  display: block;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}

.container {
  box-shadow: rgba(37, 39, 39, 0.1) 0px 8px 8px 0px;
  margin: 0 auto;
  max-width: 100%;
  width: 480px;
  height: 600px;
}

.content {
  position: relative;
  bottom: 225px;
  margin-left: 35px;
  margin-right: 35px;
}

.intro,
.info {
  color: var(--text-color);
  font-size: 10px;
  margin: 0 auto;
}

.invite {
  background-image: url(fondo-01.png);
  background-size: 480px 600px;
}

.main-title {
  color: var(--titles-color);
  font-size: 12px;
}

.nav {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 480px;
}

.nota {
  color: var(--text-color);
  font-size: 8px;
}

/* LINKS */

a {
  color: var(--links-color);
  font-size: 10px;
  text-underline-offset: 2px;
}

a:hover {
  color: var(--links-hover-color);
}

.nav-link {
  color: var(--links-color);
}

.nav-link:hover {
  color: var(--links-hover-color);
}

/* INVITE */

.pau-rafa {
  margin: 0 auto;
  position: relative;
  transform: scale(0.35, 0.35);
  bottom: 100px;
  width: 100% \9;
}

/* TRANSPORTE, ACTIVIDADES, HOSPEDAJE, COVID, REGALOS */

.hospedaje-info,
.transporte-info,
.covid-info,
.regalos-info,
.actividades-info {
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: left;
}

.hospedaje,
.transporte,
.covid,
.regalos,
.actividades {
  background-image: url(fondo2-03.png);
  background-size: 480px 600px;
}

/* UBICACIONES */

li {
  color: var(--links-color);
  font-size: 10px;
}

.paquetequedes {
  font-size: 12px;
  margin-top: 25px;
  text-align: left;
}

/* TRANSPORTE */

.timeline {
  position: relative;
  left: 23px;
  top: 20px;
}

.timeline::before {
  content: "";
  background: var(--links-color);
  height: 245px;
  width: 1px;
  position: absolute;
}

.event {
  padding: 8px;
}
.hora {
  font-size: 14px;
}

@media (max-width: 540px) {
  .content {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .hospedaje-info,
  .transporte-info,
  .actividades-info,
  .covid-info {
    margin-top: 10px;
  }

  .pau-rafa {
    margin-top: 30px;
    transform: scale(0.4, 0.4);
  }

  .container {
    background-position: center;
    max-width: 100%;
  }

  .nav-link {
    padding: 9px;
  }

  .timeline::before {
    height: 248px;
  }
}

@media (max-width: 380px) {
  .hospedaje-info,
  .transporte-info,
  .actividades-info .covid-info {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 280px) {
  .nav-link {
    font-size: 12px;
  }

  .pau-rafa {
    margin-top: 40px;
  }

  .content {
    margin-top: 70px;
  }

  .hospedaje-info,
  .transporte-info,
  .actividades-info,
  .covid-info,
  .regalos-info {
    font-size: 6px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    line-height: 13px;
  }

  .hospedaje-info {
    line-height: 11px;
  }

  .main-title {
    font-size: 8px;
  }

  .timeline::before {
    height: 250px;
  }
}
